body {
  font: 24px Helvetica;
}

.header {
  display: block;
  min-height: 30px;
  background: purple;
  padding: .5em;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  color: #efefef;
  text-decoration: none;
}

.content-wrap {
  margin: 0px;
  padding: 0px;
}

.content {
  margin: 4px;
  padding: 5px;
  text-align: center;
}

.button {
  display: block;
  text-align: center;
  margin: 1em auto;
  width: 10em;
  color: #efefef;
  background: black;
  text-decoration: none;
  padding: .5em;
}

.button:hover {
  background: purple;
  color: black;
}

.button-ok {
  color: #efefef;
  background: #007300;
}

.button-ok:hover {
  color: #efefef;
  background: #005f00;
}

.button-not-ok {
  color: #efefef;
  background: #b30000;
}

.button-not-ok:hover {
  color: #efefef;
  background: #9b0000;
}

.student-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.student-circle.is-connected {
  background: #ccc;
}

.student-circle.is-behind {
  background: #b30000;
}

.student-circle.is-caught-up {
  background: #007300;
}

.student-index {
  display: inline-block;
  margin-top: 17px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 18px;
  color: white;
}

.student-header.is-lost {
  color: red;
}

.student-header.is-caught-up {
  color: green;
}

#comment-container: {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}
