%h1 Help
%h2 The True Story home page ("/") presents five butttons for individuals to select their virtual room to conduct their retrospective. Be careful, the room might already be occupied, therefore you must select another room. Once a room is selected a user can pick from two different roles: Project Manager or Engineer. Each role has a different interface and set of functions.
%h3 Project Manager
%li The project manager page allows the project manager to navigate through questions by selecting the “Next Question” button and the questions can be viewed at the bottom of the page.
%li To view comments made by engineers, the project manager can select the “Show” button and to hide comments, the project manger can select the “Hide” button.
%li These two buttons are located right next to one another in the middle of the page.
%li The number of engineers participating can be viewed at the top of the page, “# Member(s)”.
%li Each engineer is represented by a number enclosed in a circle.
%h5 The color of the circle, red or green, indicates their answer to the question.
%ul{:style => "color:green;"} Green = I agree
%ul{:style => "color:red;"} Red = I disagree
%li If the project manager would like to clear responses and start over, there is a large “Reset” button in the middle of the screen with black infill.
%li When the reset button is pressed, it requires engineers to resubmit their responses.
%li The reset button does not restart the questions, it resets the responses at the question in which it was pressed.
%br/
%h3 Engineer
%li Engineers will be able to view the questions on the project managers page which should be displayed for everyone to see.
%li The engineer page presents two options for responding, response buttons and comments.
%li There are two response buttons, I disagree, and I agree.
%h5 The two buttons are denoted by their color.
%ul{:style => "color:green;"} Green = I agree
%ul{:style => "color:red;"} Red = I disagree
%li When a button is selected, the “Welcome!” at the top of the page takes the color of the selection.
%li If an engineer would like to leave more specific feedback, they can use the dialogue box at the bottom of the page under the word Comment.
%li After typing their comment, they must press the “Submit” button under the dialogue box so that it can be viewed by the project manager.
