%h1 I'm in...
%a.button{href: "/rc_starters"} RC_Starters
%a.button{href: "/rc_fullfillers"} RC_Fullfillers
%a.button{href: "/rc_dashers"} RC_Dashers
%a.button{href: "/rc_dashers"} RC_Embarcers
%hr
%a.button{href: "/rc_dashers"} Innovation Friday
