%h1 Lesson Overview

%p #{active_sessions} Student#{active_sessions == 1 ? nil : "s"}

%div{data: {behavior: 'student-container'}}

%a(href="/instructor/reset" data-remote="true") Reset

- content_for :javascripts do
  :javascript
    $(function(){
      InstructorApp.setup();
    });
