%h1 Retro Overview

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset

- content_for :javascripts do
  :javascript
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
