%h1 Retro Overview

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset

%hr

             %h3 Did  you feel this sprint went well?
             %h3 Did you feel challenged with the tasks assigned to you?
             %h3 Did you need assistance with your tasks during this sprint?
             %h3 Did you have a chance to use any new technologies to accomplish your tasks?
             %h3 Did you maintain or create any new documentation concerning your tasks?
             %h3 Did you feel all the tasks were assigned equally in order to maintain load balancing?
             %h3 Did your team have a least one morale event during this sprint?
             %h3 Did anyone sign up for training outside of their team work?
             %h3 Did anyone feel overwhelmed during this sprint?
             %h3 Did your teams junior or new hire get the attention they needed to be successful?
             %h3 Did anyone have any issues with any outside teams?
             %h3 Did anyone recognize their colleagues’ achievements to management during this sprint?
             %h3 Did our team feel proud about our work?
             %h3 Did our scrum master provide adequate support against our teams impediments?
             %h3 Did our scrum master assist in all communication efforts between our groups product manager?
             %h3 Did all the stories provide adequate explanation on the expectations of the tasks?
             %h3 Did the product manager provide enough support throughout the sprint?
             %h3 Did you learn anything new during this sprint about technology?
             %h3 Did you learn anything new during this sprint about AMEX?
             %h3 Does anyone have any recommendations they would like to share to improve performance in future sprints?

- content_for :javascripts do
  :javascript
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
