!!!
%html
  %head
    %title Clicker App
    %link(href="/stylesheets/app.css" rel="stylesheet")

    %meta( name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
  %body
    %header.header
      %a.logo(href="/") The Clicker App
    .content-wrap
      %article.content
        = yield

    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//js.pusher.com/2.2/pusher.min.js")
    %script(src="/javascripts/underscore-min.js")
    %script(src="/javascripts/app.js")
    = yield_content(:javascripts)