!!!
%html
  %head
    %title True Story
    %link(href="/stylesheets/app.css" rel="stylesheet")
    %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}/

    %meta( name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
  %body
    %header.header
      %a.logo(href="/") True Story %a.help(href="/help") Help
    .content-wrap
      %article.content
        = yield

    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//js.pusher.com/2.2/pusher.min.js")
    %script(src="/javascripts/underscore-min.js")
    %script(src="/javascripts/app.js")
    = yield_content(:javascripts)
