!!!
%html
  %head
    %title Clicker App
    %link(href="/stylesheets/app.css" rel="stylesheet")
  %body
    %header.header
      %a.logo(href="/") The Clicker App
    .content-wrap
      %article.content
        = yield
