%ol
 %li Did  you feel this sprint went well?
 %li Did you feel challenged with the tasks assigned to you?
 %li Did you need assistance with your tasks during this sprint?
 %li Did you have a chance to use any new technologies to accomplish your tasks?
 %li Did you maintain or create any new documentation concerning your tasks?
 %li Did you feel all the tasks were assigned equally in order to maintain load balancing?
 %li Did your team have a least one morale event during this sprint?
 %li Did anyone sign up for training outside of their team work?
 %li Did anyone feel overwhelmed during this sprint?
 %li Did your teams junior or new hire get the attention they needed to be successful?
 %li Did anyone have any issues with any outside teams?
 %li Did anyone recognize their colleagues’ achievements to management during this sprint?
 %li Did our team feel proud about our work?
 %li Did our scrum master provide adequate support against our teams impediments?
 %li Did our scrum master assist in all communication efforts between our groups product manager?
 %li Did all the stories provide adequate explanation on the expectations of the tasks?
 %li Did the product manager provide enough support throughout the sprint?
 %li Did you learn anything new during this sprint about technology?
 %li Did you learn anything new during this sprint about AMEX?
 %li Does anyone have any recommendations they would like to share to improve performance in future sprints?
