%h1 MDOT Social Event!

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}
%button#hide Hide
%button#show Show
%div#comment-container
  %ul#comments

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset
%input{:type => "button", :value => "Next Question"}

%hr
.content_div
  %li Who is your hero?
.content_div
  %li If you could live anywhere, where would it be?
.content_div
  %li What is your biggest fear?
.content_div
  %li What is your favorite family vacation?
.content_div
  %li What would you change about yourself if you could?
.content_div
  %li What really makes you angry?
.content_div
  %li What motivates you to work hard?
.content_div
  %li What is your favorite thing about your career?
.content_div
  %li What is your biggest complaint about your job?
.content_div
  %li What is your proudest accomplishment?
.content_div
  %li What is your child's proudest accomplishment?
.content_div
  %li What is your favorite book to read?
.content_div
  %li What makes you laugh the most?
.content_div
  %li What was the last movie you went to? What did you think?
.content_div
  %li What did you want to be when you were small?
.content_div
  %li What does your child want to be when he/she grows up?
.content_div
  %li If you could choose to do anything for a day, what would it be?
.content_div
  %li What is your favorite game or sport to watch and play?
.content_div
  %li Would you rather ride a bike, ride a horse, or drive a car?
.content_div
  %li What would you sing at Karaoke night?
.content_div
  %li What two radio stations do you listen to in the car the most?
.content_div
  %li Which would you rather do: wash dishes, mow the lawn, clean the bathroom, or vacuum the house?
.content_div
  %li If you could hire someone to help you, would it be with cleaning, cooking, or yard work?
.content_div
  %li If you could only eat one meal for the rest of your life, what would it be?
.content_div
  %li Thank you for joining today's event - Everyone who stayed this long is getting a 25$ gift card to Amazon!

- content_for :javascripts do
  :javascript
    $("#hide").click(function(){
          $("ul").hide();
      });
    $("#show").click(function(){
          $("ul").show();
      });

    var $divs = $("div.content_div").hide(),
    i = 0;
    $divs.eq(i).show();

    $("input").click(function() {
      $divs.eq(i).hide();
      i = (i+1) % $divs.length;
      $divs.eq(i).show();
    });
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
