%h1 MDOT Social Event - 9/16

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}
%button#hide Hide
%button#show Show
%div#comment-container
  %ul#comments

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset
%input{:type => "button", :value => "Next Question"}

%hr

.content_div
  %li Do you have any collections?
.content_div
  %li T/F: Brazil is the largest coffee producer in the world.
.content_div
  %li TRUE
.content_div
  %li Do you prefer where you live now vs your hometown?
.content_div
  %li T/F: A giraffe's toungue is blue/black.
.content_div
  %li TRUE
.content_div
  %li Have you ever burried a time capsule?
.content_div
  %li T/F: The most common color of toilet paper in France is white.
.content_div
  %li FALSE; Pink.
.content_div
  %li Have you ever sung in front of a crowd?
.content_div
  %li T/F: Switzerland has not fought a war since 1814.
.content_div
  %li FALSE; Sweden.
.content_div
  %li Are you scared of roller coasters?
.content_div
  %li T/F: Central Park in NYC is larger than Monaco.
.content_div
  %li TRUE; 1.32 sq miles vs 0.78 sq miles
.content_div
  %li Have you ever fallen in public?
.content_div
  %li T/F: Graphene is stronger than diamonds.
.content_div
  %li TRUE
.content_div
  %li Have you ever posted to a YouTube channel?
.content_div
  %li T/F: Turkey was the type of meat eaten during the first Thanksgiving.
.content_div
  %li FALSE; Venison
.content_div
  %li Can you write in cursive?
.content_div
  %li T/F: Frosty the snowman had a button nose.
.content_div
  %li TRUE
.content_div
  %li Have you ever had an embarrassing job interview?
.content_div
  %li T/F: KFC is the most popuar meal for Christmas in Japan.
.content_div
  %li TRUE
.content_div
  %li Do you have any trophies?
.content_div
  %li T/F: Saturn is the 5th planet from the sun.
.content_div
  %li FALSE; Jupiter
.content_div
  %li Do you have any food combinations that others might find strange?
.content_div
  %li Riddle: What has a tail, a head, but no body?
.content_div
  %li Coin
.content_div
  %li Would you move to Mars if it was colonized knowing that you could never come back to earth?
.content_div
  %li Riddle: What occurs once in a minute, twice in a moment, and never in one thousand years?
.content_div
  %li The letter 'm'
.content_div
  %li Have you ever used an airfryer?
.content_div
  %li Riddle: What has legs but does not walk?
.content_div
  %li Table/chair
.content_div
  %li Do you prefer the beach over the mountains?
.content_div
  %li Riddle: Why would a man living in Arizona not be buried in Utah?
.content_div
  %li Because he is still living
.content_div
  %li Are books generaly better than their movie adaptations?
.content_div
  %li Riddle: What has a face and two hands but no arms or legs?
.content_div
  %li Clock
.content_div
  %li Have you ever eaten baby food (as an adult)?
.content_div
  %li Have you ever successfully completed a DIY project?
.content_div
  %li Is there a food you hated growing up but enjoy eating now?
.content_div
  %li This next section is "Would you rather" questions. Agree is the first option. Disagree is the second option.
.content_div
  %li Fight a single horse sized duck or fight an army of duck sized horses
.content_div
  %li Have a head the size of a pea or hands the size of houses
.content_div
  %li Be covered in fur or covered in scales
.content_div
  %li Be hilarious but totally unloved or be totally loved but also totally boring
.content_div
  %li Never hit a red light again or never have to queue for anything again
.content_div
  %li Have all the money in the world or all the friends in the world
.content_div
  %li Have the job of your dreams, but also the boss of your nightmares or the boss of your dreams, but also the job of your nightmares
.content_div
  %li Have the power to be everywhere at once or to be invisible anywhere you choose
.content_div
  %li 10 wishes from a genie who gets it right 10% the time or 1 wish from a genie who gets it right 100% of the time.

- content_for :javascripts do
  :javascript
    $("#hide").click(function(){
          $("ul").hide();
      });
    $("#show").click(function(){
          $("ul").show();
      });

    var $divs = $("div.content_div").hide(),
    i = 0;
    $divs.eq(i).show();

    $("input").click(function() {
      $divs.eq(i).hide();
      i = (i+1) % $divs.length;
      $divs.eq(i).show();
    });
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
