%h1 True Story

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}
%button#hide Hide
%button#show Show
%div#comment-container
  %ul#comments

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset
%input{:type => "button", :value => "Next Question"}

%hr
.content_div
  %li Do you enjoy this program?
.content_div
  %li Do you feel challenged with the course work assigned to you?
.content_div
  %li Do you need assistance with your coursework everyday?
.content_div
 %li Do use any tools to accomplish your course work that was not taught to you?
.content_div
  %li Do you blog about your progress?
.content_div
  %li Do you feel you are given appropriate amount of time to complete your tasks?
.content_div
  %li Did your team have a least one morale event since you started?
.content_div
  %li Did you attend any conferences?
.content_div
  %li Have you felt overwhelmed during this course?
.content_div
  %li Have you volunteered to teach classes to help reinforce your skills?
.content_div
  %li Do you have a personal site up and running?
.content_div
  %li Do your instructors give you enough attention during class?
.content_div
  %li Do your instructors give you enough feedback on your exercises before they move on to the next task?
.content_div
  %li Do your instructors treat you with respect?
.content_div
  %li Are you handling your stress well?
.content_div
  %li Do you think this program is adequately preparing you for your job?
.content_div
  %li Have you started making a dream sheet of jobs you are interested in?
.content_div
  %li Have you updated your resume, blog, personal site, and social media presence to reflect your schooling?
.content_div
  %li Do you feel you're at the bottom of you the class? 


- content_for :javascripts do
  :javascript

    $("#hide").click(function(){
          $("ul").hide();
      });
    $("#show").click(function(){
          $("ul").show();
      });

    var $divs = $("div.content_div").hide(),
    i = 0;
    $divs.eq(i).show();

    $("input").click(function() {
      $divs.eq(i).hide();
      i = (i+1) % $divs.length;
      $divs.eq(i).show();
    });
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
