- status_class = {SessionRepo::BEHIND => 'is-lost', SessionRepo::CAUGHT_UP => 'is-caught-up'}[status]
%h1.student-header{data: {behavior: "student-status"}, class: status_class} Welcome!

%a.button.button-not-ok(href="/#{params[:location]}/team_member/you-lost-me" data-remote="true" data-behavior="you-lost-me") I disagree
%a.button.button-ok(href="/#{params[:location]}/team_member/caught-up" data-remote="true" data-behavior="caught-up") I agree



- content_for :javascripts do
  :javascript
    $(function(){
      StudentApp.setup();
    });
