%h1 HumbleBrag

%p(data-container="student-summary")

%div{data: {behavior: 'student-container'}}
%button#hide Hide
%button#show Show
%div#comment-container
  %ul#comments

%a.button(href="/#{params[:location]}/scrum_master/reset" data-remote="true") Reset
%input{:type => "button", :value => "Next Brag"}

%hr

.content_div
  %li I love drinking a Budweiser, on a threesome date with Olivia Munn and Aaron Rodgers
.content_div
  %li I have a terrible headache, while driving my Ferrari
.content_div
  %li It's no fun spilling stale coffee, while helping needy 3rd world children
.content_div
  %li Having a bad hair day, wingsuiting off of Mount Everest
.content_div
  %li Just me and my rescue dog, n a massive celebrity orgy in a small mansion on the coast
.content_div
  %li Just contemplating the simple things in life, giving my commencement speech to Harvard Law School
.content_div
  %li Just tore my shirt, fist bumping the Dalai Lama
.content_div
  %li Trying to stay motivated now, rewriting the kama sutra
.content_div
  %li Could really use the hair of the dog, in a massive tantric state
.content_div
  %li Feeling small in this world, using a yard stick to measure my genitalia
.content_div
  %li Family game night, when my milkshakes brought all the boys to the yard
.content_div
  %li Getting carpal tunnel, writing the newer testament

- content_for :javascripts do
  :javascript

    $("#hide").click(function(){
          $("ul").hide();
      });
    $("#show").click(function(){
          $("ul").show();
      });

    var $divs = $("div.content_div").hide(),
    i = 0;
    $divs.eq(i).show();

    $("input").click(function() {
      $divs.eq(i).hide();
      i = (i+1) % $divs.length;
      $divs.eq(i).show();
    });
    $(function(){
      pusher = new Pusher('ad19028119cbf87369e4');

      InstructorApp.setup(pusher, "#{params[:location]}");
    });
