%h1 Welcome, grasshopper!

%a(href="/student/you-lost-me" data-behavior="ajax-button") You lost me
%a(href="/student/caught-up" data-behavior="ajax-button") I'm caught-up

- content_for :javascripts do
  :javascript
    $(function(){
      StudentApp.setup();
    });
